[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pytest = "*"
pytest-django = "*"
djangorestframework-simplejwt="*"

[dev-packages]
pytest-cov = "*"

[requires]
python_version = "3.14"
python_full_version = "3.14.2"
